// Override default variables before the import
$body-bg: #adb5bd;

$navbar-light-brand-color: white;
$navbar-light-active-color: white;
$navbar-light-color: white;

$card-cap-color: white;

$theme-colors: (
  "primary": #55ab8c
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';